DTS/DTS.Web/MESService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDate">
        <s:complexType />
      </s:element>
      <s:element name="GetDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DocValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToolingTimes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BillCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Times" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ToolingTimesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ToolingTimesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WorkOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LineInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkLineCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BarCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LineInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LineInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LineInventoryUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LIXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LineInventoryUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LineInventoryUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LineInventoryReturn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LRXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LineInventoryReturnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LineInventoryReturnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemsAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemDocXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemsAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemsAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocTypeCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocXmlMaster" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocXmlItems" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDept">
        <s:complexType />
      </s:element>
      <s:element name="GetDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPower">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeptID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPowerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPowerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan1Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan1SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnDan1SendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan4UpdPeoplePresent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Presens" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan4UpdPeoplePresentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnDan4UpdPeoplePresentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan3AddUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TS_OPERATORS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan3AddUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnDan3AddUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan2PeoplePresent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ADMCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDan2PeoplePresentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnDan2PeoplePresentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDanSLTypeGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ADMCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDanSLTypeGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnDanSLTypeGetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDanSLTypeAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnDanSLTypeAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnDanSLTypeAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="GetDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocCode" />
  </wsdl:message>
  <wsdl:message name="GetDocCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ToolingTimesSoapIn">
    <wsdl:part name="parameters" element="tns:ToolingTimes" />
  </wsdl:message>
  <wsdl:message name="ToolingTimesSoapOut">
    <wsdl:part name="parameters" element="tns:ToolingTimesResponse" />
  </wsdl:message>
  <wsdl:message name="WorkOrderSoapIn">
    <wsdl:part name="parameters" element="tns:WorkOrder" />
  </wsdl:message>
  <wsdl:message name="WorkOrderSoapOut">
    <wsdl:part name="parameters" element="tns:WorkOrderResponse" />
  </wsdl:message>
  <wsdl:message name="LineInventorySoapIn">
    <wsdl:part name="parameters" element="tns:LineInventory" />
  </wsdl:message>
  <wsdl:message name="LineInventorySoapOut">
    <wsdl:part name="parameters" element="tns:LineInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="LineInventoryUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:LineInventoryUpdate" />
  </wsdl:message>
  <wsdl:message name="LineInventoryUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:LineInventoryUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LineInventoryReturnSoapIn">
    <wsdl:part name="parameters" element="tns:LineInventoryReturn" />
  </wsdl:message>
  <wsdl:message name="LineInventoryReturnSoapOut">
    <wsdl:part name="parameters" element="tns:LineInventoryReturnResponse" />
  </wsdl:message>
  <wsdl:message name="ItemsAddSoapIn">
    <wsdl:part name="parameters" element="tns:ItemsAdd" />
  </wsdl:message>
  <wsdl:message name="ItemsAddSoapOut">
    <wsdl:part name="parameters" element="tns:ItemsAddResponse" />
  </wsdl:message>
  <wsdl:message name="DocAddSoapIn">
    <wsdl:part name="parameters" element="tns:DocAdd" />
  </wsdl:message>
  <wsdl:message name="DocAddSoapOut">
    <wsdl:part name="parameters" element="tns:DocAddResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeptSoapIn">
    <wsdl:part name="parameters" element="tns:GetDept" />
  </wsdl:message>
  <wsdl:message name="GetDeptSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeptResponse" />
  </wsdl:message>
  <wsdl:message name="GetPowerSoapIn">
    <wsdl:part name="parameters" element="tns:GetPower" />
  </wsdl:message>
  <wsdl:message name="GetPowerSoapOut">
    <wsdl:part name="parameters" element="tns:GetPowerResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="AnDan1SendSoapIn">
    <wsdl:part name="parameters" element="tns:AnDan1Send" />
  </wsdl:message>
  <wsdl:message name="AnDan1SendSoapOut">
    <wsdl:part name="parameters" element="tns:AnDan1SendResponse" />
  </wsdl:message>
  <wsdl:message name="AnDan4UpdPeoplePresentSoapIn">
    <wsdl:part name="parameters" element="tns:AnDan4UpdPeoplePresent" />
  </wsdl:message>
  <wsdl:message name="AnDan4UpdPeoplePresentSoapOut">
    <wsdl:part name="parameters" element="tns:AnDan4UpdPeoplePresentResponse" />
  </wsdl:message>
  <wsdl:message name="AnDan3AddUsersSoapIn">
    <wsdl:part name="parameters" element="tns:AnDan3AddUsers" />
  </wsdl:message>
  <wsdl:message name="AnDan3AddUsersSoapOut">
    <wsdl:part name="parameters" element="tns:AnDan3AddUsersResponse" />
  </wsdl:message>
  <wsdl:message name="AnDan2PeoplePresentSoapIn">
    <wsdl:part name="parameters" element="tns:AnDan2PeoplePresent" />
  </wsdl:message>
  <wsdl:message name="AnDan2PeoplePresentSoapOut">
    <wsdl:part name="parameters" element="tns:AnDan2PeoplePresentResponse" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeGetSoapIn">
    <wsdl:part name="parameters" element="tns:AnDanSLTypeGet" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeGetSoapOut">
    <wsdl:part name="parameters" element="tns:AnDanSLTypeGetResponse" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeAddSoapIn">
    <wsdl:part name="parameters" element="tns:AnDanSLTypeAdd" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeAddSoapOut">
    <wsdl:part name="parameters" element="tns:AnDanSLTypeAddResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateHttpGetIn" />
  <wsdl:message name="GetDateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocCodeHttpGetIn">
    <wsdl:part name="DocValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ToolingTimesHttpGetIn">
    <wsdl:part name="BillCode" type="s:string" />
    <wsdl:part name="DeviceCode" type="s:string" />
    <wsdl:part name="Times" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ToolingTimesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WorkOrderHttpGetIn">
    <wsdl:part name="WorkOrderXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WorkOrderHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryHttpGetIn">
    <wsdl:part name="WorkLineCode" type="s:string" />
    <wsdl:part name="MCode" type="s:string" />
    <wsdl:part name="BatchNo" type="s:string" />
    <wsdl:part name="BarCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryUpdateHttpGetIn">
    <wsdl:part name="LIXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryReturnHttpGetIn">
    <wsdl:part name="LRXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryReturnHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ItemsAddHttpGetIn">
    <wsdl:part name="itemDocXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ItemsAddHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DocAddHttpGetIn">
    <wsdl:part name="DocTypeCode" type="s:string" />
    <wsdl:part name="DocXmlMaster" type="s:string" />
    <wsdl:part name="DocXmlItems" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DocAddHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptHttpGetIn" />
  <wsdl:message name="GetDeptHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPowerHttpGetIn">
    <wsdl:part name="DeptID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPowerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="Role" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="UserPwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan1SendHttpGetIn">
    <wsdl:part name="flag" type="s:string" />
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan1SendHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan4UpdPeoplePresentHttpGetIn">
    <wsdl:part name="Presens" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan4UpdPeoplePresentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan3AddUsersHttpGetIn">
    <wsdl:part name="XML" type="s:string" />
    <wsdl:part name="TS_OPERATORS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan3AddUsersHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan2PeoplePresentHttpGetIn">
    <wsdl:part name="ADMCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan2PeoplePresentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeGetHttpGetIn">
    <wsdl:part name="ADMCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeGetHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeAddHttpGetIn">
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeAddHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDateHttpPostIn" />
  <wsdl:message name="GetDateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocCodeHttpPostIn">
    <wsdl:part name="DocValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ToolingTimesHttpPostIn">
    <wsdl:part name="BillCode" type="s:string" />
    <wsdl:part name="DeviceCode" type="s:string" />
    <wsdl:part name="Times" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ToolingTimesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WorkOrderHttpPostIn">
    <wsdl:part name="WorkOrderXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WorkOrderHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryHttpPostIn">
    <wsdl:part name="WorkLineCode" type="s:string" />
    <wsdl:part name="MCode" type="s:string" />
    <wsdl:part name="BatchNo" type="s:string" />
    <wsdl:part name="BarCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryUpdateHttpPostIn">
    <wsdl:part name="LIXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryReturnHttpPostIn">
    <wsdl:part name="LRXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LineInventoryReturnHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ItemsAddHttpPostIn">
    <wsdl:part name="itemDocXml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ItemsAddHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DocAddHttpPostIn">
    <wsdl:part name="DocTypeCode" type="s:string" />
    <wsdl:part name="DocXmlMaster" type="s:string" />
    <wsdl:part name="DocXmlItems" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DocAddHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDeptHttpPostIn" />
  <wsdl:message name="GetDeptHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPowerHttpPostIn">
    <wsdl:part name="DeptID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPowerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="Role" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="UserPwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan1SendHttpPostIn">
    <wsdl:part name="flag" type="s:string" />
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan1SendHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan4UpdPeoplePresentHttpPostIn">
    <wsdl:part name="Presens" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan4UpdPeoplePresentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan3AddUsersHttpPostIn">
    <wsdl:part name="XML" type="s:string" />
    <wsdl:part name="TS_OPERATORS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan3AddUsersHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDan2PeoplePresentHttpPostIn">
    <wsdl:part name="ADMCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDan2PeoplePresentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeGetHttpPostIn">
    <wsdl:part name="ADMCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeGetHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeAddHttpPostIn">
    <wsdl:part name="XML" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AnDanSLTypeAddHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MESServiceSoap">
    <wsdl:operation name="GetDate">
      <wsdl:input message="tns:GetDateSoapIn" />
      <wsdl:output message="tns:GetDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <wsdl:input message="tns:GetDocCodeSoapIn" />
      <wsdl:output message="tns:GetDocCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <wsdl:input message="tns:ToolingTimesSoapIn" />
      <wsdl:output message="tns:ToolingTimesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <wsdl:input message="tns:WorkOrderSoapIn" />
      <wsdl:output message="tns:WorkOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <wsdl:input message="tns:LineInventorySoapIn" />
      <wsdl:output message="tns:LineInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <wsdl:input message="tns:LineInventoryUpdateSoapIn" />
      <wsdl:output message="tns:LineInventoryUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <wsdl:input message="tns:LineInventoryReturnSoapIn" />
      <wsdl:output message="tns:LineInventoryReturnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <wsdl:input message="tns:ItemsAddSoapIn" />
      <wsdl:output message="tns:ItemsAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <wsdl:input message="tns:DocAddSoapIn" />
      <wsdl:output message="tns:DocAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <wsdl:input message="tns:GetDeptSoapIn" />
      <wsdl:output message="tns:GetDeptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <wsdl:input message="tns:GetPowerSoapIn" />
      <wsdl:output message="tns:GetPowerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <wsdl:input message="tns:AnDan1SendSoapIn" />
      <wsdl:output message="tns:AnDan1SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <wsdl:input message="tns:AnDan4UpdPeoplePresentSoapIn" />
      <wsdl:output message="tns:AnDan4UpdPeoplePresentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <wsdl:input message="tns:AnDan3AddUsersSoapIn" />
      <wsdl:output message="tns:AnDan3AddUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <wsdl:input message="tns:AnDan2PeoplePresentSoapIn" />
      <wsdl:output message="tns:AnDan2PeoplePresentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <wsdl:input message="tns:AnDanSLTypeGetSoapIn" />
      <wsdl:output message="tns:AnDanSLTypeGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <wsdl:input message="tns:AnDanSLTypeAddSoapIn" />
      <wsdl:output message="tns:AnDanSLTypeAddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MESServiceHttpGet">
    <wsdl:operation name="GetDate">
      <wsdl:input message="tns:GetDateHttpGetIn" />
      <wsdl:output message="tns:GetDateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <wsdl:input message="tns:GetDocCodeHttpGetIn" />
      <wsdl:output message="tns:GetDocCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <wsdl:input message="tns:ToolingTimesHttpGetIn" />
      <wsdl:output message="tns:ToolingTimesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <wsdl:input message="tns:WorkOrderHttpGetIn" />
      <wsdl:output message="tns:WorkOrderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <wsdl:input message="tns:LineInventoryHttpGetIn" />
      <wsdl:output message="tns:LineInventoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <wsdl:input message="tns:LineInventoryUpdateHttpGetIn" />
      <wsdl:output message="tns:LineInventoryUpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <wsdl:input message="tns:LineInventoryReturnHttpGetIn" />
      <wsdl:output message="tns:LineInventoryReturnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <wsdl:input message="tns:ItemsAddHttpGetIn" />
      <wsdl:output message="tns:ItemsAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <wsdl:input message="tns:DocAddHttpGetIn" />
      <wsdl:output message="tns:DocAddHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <wsdl:input message="tns:GetDeptHttpGetIn" />
      <wsdl:output message="tns:GetDeptHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <wsdl:input message="tns:GetPowerHttpGetIn" />
      <wsdl:output message="tns:GetPowerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <wsdl:input message="tns:AnDan1SendHttpGetIn" />
      <wsdl:output message="tns:AnDan1SendHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <wsdl:input message="tns:AnDan4UpdPeoplePresentHttpGetIn" />
      <wsdl:output message="tns:AnDan4UpdPeoplePresentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <wsdl:input message="tns:AnDan3AddUsersHttpGetIn" />
      <wsdl:output message="tns:AnDan3AddUsersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <wsdl:input message="tns:AnDan2PeoplePresentHttpGetIn" />
      <wsdl:output message="tns:AnDan2PeoplePresentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <wsdl:input message="tns:AnDanSLTypeGetHttpGetIn" />
      <wsdl:output message="tns:AnDanSLTypeGetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <wsdl:input message="tns:AnDanSLTypeAddHttpGetIn" />
      <wsdl:output message="tns:AnDanSLTypeAddHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MESServiceHttpPost">
    <wsdl:operation name="GetDate">
      <wsdl:input message="tns:GetDateHttpPostIn" />
      <wsdl:output message="tns:GetDateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <wsdl:input message="tns:GetDocCodeHttpPostIn" />
      <wsdl:output message="tns:GetDocCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <wsdl:input message="tns:ToolingTimesHttpPostIn" />
      <wsdl:output message="tns:ToolingTimesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <wsdl:input message="tns:WorkOrderHttpPostIn" />
      <wsdl:output message="tns:WorkOrderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <wsdl:input message="tns:LineInventoryHttpPostIn" />
      <wsdl:output message="tns:LineInventoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <wsdl:input message="tns:LineInventoryUpdateHttpPostIn" />
      <wsdl:output message="tns:LineInventoryUpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <wsdl:input message="tns:LineInventoryReturnHttpPostIn" />
      <wsdl:output message="tns:LineInventoryReturnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <wsdl:input message="tns:ItemsAddHttpPostIn" />
      <wsdl:output message="tns:ItemsAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <wsdl:input message="tns:DocAddHttpPostIn" />
      <wsdl:output message="tns:DocAddHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <wsdl:input message="tns:GetDeptHttpPostIn" />
      <wsdl:output message="tns:GetDeptHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <wsdl:input message="tns:GetPowerHttpPostIn" />
      <wsdl:output message="tns:GetPowerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <wsdl:input message="tns:AnDan1SendHttpPostIn" />
      <wsdl:output message="tns:AnDan1SendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <wsdl:input message="tns:AnDan4UpdPeoplePresentHttpPostIn" />
      <wsdl:output message="tns:AnDan4UpdPeoplePresentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <wsdl:input message="tns:AnDan3AddUsersHttpPostIn" />
      <wsdl:output message="tns:AnDan3AddUsersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <wsdl:input message="tns:AnDan2PeoplePresentHttpPostIn" />
      <wsdl:output message="tns:AnDan2PeoplePresentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <wsdl:input message="tns:AnDanSLTypeGetHttpPostIn" />
      <wsdl:output message="tns:AnDanSLTypeGetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <wsdl:input message="tns:AnDanSLTypeAddHttpPostIn" />
      <wsdl:output message="tns:AnDanSLTypeAddHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MESServiceSoap" type="tns:MESServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://tempuri.org/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <soap:operation soapAction="http://tempuri.org/GetDocCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <soap:operation soapAction="http://tempuri.org/ToolingTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <soap:operation soapAction="http://tempuri.org/WorkOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <soap:operation soapAction="http://tempuri.org/LineInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <soap:operation soapAction="http://tempuri.org/LineInventoryUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <soap:operation soapAction="http://tempuri.org/LineInventoryReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <soap:operation soapAction="http://tempuri.org/ItemsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <soap:operation soapAction="http://tempuri.org/DocAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <soap:operation soapAction="http://tempuri.org/GetDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <soap:operation soapAction="http://tempuri.org/GetPower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <soap:operation soapAction="http://tempuri.org/AnDan1Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <soap:operation soapAction="http://tempuri.org/AnDan4UpdPeoplePresent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <soap:operation soapAction="http://tempuri.org/AnDan3AddUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <soap:operation soapAction="http://tempuri.org/AnDan2PeoplePresent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <soap:operation soapAction="http://tempuri.org/AnDanSLTypeGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <soap:operation soapAction="http://tempuri.org/AnDanSLTypeAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MESServiceSoap12" type="tns:MESServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap12:operation soapAction="http://tempuri.org/GetDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <soap12:operation soapAction="http://tempuri.org/GetDocCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <soap12:operation soapAction="http://tempuri.org/ToolingTimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <soap12:operation soapAction="http://tempuri.org/WorkOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <soap12:operation soapAction="http://tempuri.org/LineInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <soap12:operation soapAction="http://tempuri.org/LineInventoryUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <soap12:operation soapAction="http://tempuri.org/LineInventoryReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <soap12:operation soapAction="http://tempuri.org/ItemsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <soap12:operation soapAction="http://tempuri.org/DocAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <soap12:operation soapAction="http://tempuri.org/GetDept" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <soap12:operation soapAction="http://tempuri.org/GetPower" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <soap12:operation soapAction="http://tempuri.org/AnDan1Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <soap12:operation soapAction="http://tempuri.org/AnDan4UpdPeoplePresent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <soap12:operation soapAction="http://tempuri.org/AnDan3AddUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <soap12:operation soapAction="http://tempuri.org/AnDan2PeoplePresent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <soap12:operation soapAction="http://tempuri.org/AnDanSLTypeGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <soap12:operation soapAction="http://tempuri.org/AnDanSLTypeAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MESServiceHttpGet" type="tns:MESServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDate">
      <http:operation location="/GetDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <http:operation location="/GetDocCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <http:operation location="/ToolingTimes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <http:operation location="/WorkOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <http:operation location="/LineInventory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <http:operation location="/LineInventoryUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <http:operation location="/LineInventoryReturn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <http:operation location="/ItemsAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <http:operation location="/DocAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <http:operation location="/GetDept" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <http:operation location="/GetPower" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <http:operation location="/AnDan1Send" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <http:operation location="/AnDan4UpdPeoplePresent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <http:operation location="/AnDan3AddUsers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <http:operation location="/AnDan2PeoplePresent" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <http:operation location="/AnDanSLTypeGet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <http:operation location="/AnDanSLTypeAdd" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MESServiceHttpPost" type="tns:MESServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDate">
      <http:operation location="/GetDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocCode">
      <http:operation location="/GetDocCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToolingTimes">
      <http:operation location="/ToolingTimes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOrder">
      <http:operation location="/WorkOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventory">
      <http:operation location="/LineInventory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryUpdate">
      <http:operation location="/LineInventoryUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LineInventoryReturn">
      <http:operation location="/LineInventoryReturn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsAdd">
      <http:operation location="/ItemsAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocAdd">
      <http:operation location="/DocAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDept">
      <http:operation location="/GetDept" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPower">
      <http:operation location="/GetPower" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan1Send">
      <http:operation location="/AnDan1Send" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan4UpdPeoplePresent">
      <http:operation location="/AnDan4UpdPeoplePresent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan3AddUsers">
      <http:operation location="/AnDan3AddUsers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDan2PeoplePresent">
      <http:operation location="/AnDan2PeoplePresent" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeGet">
      <http:operation location="/AnDanSLTypeGet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnDanSLTypeAdd">
      <http:operation location="/AnDanSLTypeAdd" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MESService">
    <wsdl:port name="MESServiceSoap" binding="tns:MESServiceSoap">
      <soap:address location="http://10.1.1.26:801/MESService.asmx" />
    </wsdl:port>
    <wsdl:port name="MESServiceSoap12" binding="tns:MESServiceSoap12">
      <soap12:address location="http://10.1.1.26:801/MESService.asmx" />
    </wsdl:port>
    <wsdl:port name="MESServiceHttpGet" binding="tns:MESServiceHttpGet">
      <http:address location="http://10.1.1.26:801/MESService.asmx" />
    </wsdl:port>
    <wsdl:port name="MESServiceHttpPost" binding="tns:MESServiceHttpPost">
      <http:address location="http://10.1.1.26:801/MESService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>